CAPSULE_HOST=127.0.0.1
CAPSULE_PORT=8787
CAPSULE_STORAGE_DIR=./data
CAPSULE_CORS_ORIGIN=http://localhost:5173
CAPSULE_MAX_CAPSULE_BYTES=104857600
CAPSULE_MAX_CHUNK_BYTES=1048600
CAPSULE_MAX_MANIFEST_BYTES=262144
CAPSULE_MAX_CHUNK_COUNT=10000
CAPSULE_DEFAULT_TTL_SECONDS=86400
CAPSULE_MAX_TTL_SECONDS=604800
CAPSULE_CLEANUP_INTERVAL_MS=60000
CAPSULE_RATE_LIMIT_MAX=300
CAPSULE_RATE_LIMIT_WINDOW_MS=60000
CAPSULE_CREATE_RATE_LIMIT_MAX=30
CAPSULE_LOG_LEVEL=info
VITE_RELAY_URL=http://localhost:8787
VITE_PUBLIC_APP_URL=http://localhost:5173/
